.menu {
    display: flex;
    flex-direction: column;
    background-color: #101212;
    border-radius: 4px;

    padding: 12px;
    margin-bottom: 2px;
    max-width: 600px;
}

.menu-children {
    display: none;
    flex-direction: column;
    gap: 2px;
}

.menu-children.is-open {
    display: flex;
}

.sub-menu {
    display: flex;
    flex-direction: column;
    background-color: #202222;
    border-radius: 4px;

    padding: 12px;
    gap: 2px;
    color: rgb(79, 46, 223)
}

.routes {
    display: flex;
    flex-direction: column;
    background-color: #404848;
    border-radius: 4px;
    color: rgb(106, 238, 238);
}