:root {
  /* Font-size */
  --f-s-micro: clamp(0.64rem, 0.05vw + 0.63rem, 0.67rem);
  /* 10.24px */
  --f-s-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  /* 12.8px */
  --f-s-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  /* 16px */
  --f-s-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  /* 20px */
  --f-s-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  /* 24.96px */
  --f-s-xl: clamp(1.95rem, 1.57vw + 1.56rem, 2.81rem);
  /* 31.2px */
  --f-s-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  /* 39.04px */
  --f-s-xxxl: clamp(3.05rem, 3.55vw + 2.17rem, 5rem);
  /* 48.64px */

  /* Font-weight */
  --f-regular: 400;
  --f-bold: 700;

  /* Colors */
  --c-whywhite: #e3e3e3;

  --c-neutral-900: #060606;

  --c-gray-500: #828282;
  --c-gray-300: #BDBDBD;
}

body {
  background-image: url('/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--c-neutral-900);

  color: var(--c-whywhite);
  font-family: system-ui, sans-serif;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 8px;
}